<%
=begin %>
<div class="row">
  <div class="span16">
    <%= form_for( @role, :url => role_path, :method => :put) do |f| %>
      <fieldset>
        <legend>Role</legend>
        <br/>
        <%= @role.name %>
        <br/>
        Permissions
        <br/>
        <table>
          <tr>
            <th>Class</th>
            <th>Action</th>
            <th>#{check_box_tag 'main', 0, false}</th>
          </tr>
          <% @permissions.each do |permission| %>
            <tr>
              <td>
                <%= permission.subject_class %>
              </td>
              <td>
                <%= permission.action %>
              </td>
              <td>
                <%= check_box_tag 'permissions[]', permission.id, @role_permissions.include?(permission.id), {array: true, class: "check_box"}  %>
              </td>
            </tr>
          <% end %>
        </table>
        <div class="span16 offset2">
          <div class="clearfix">
            <%= f.submit "Update", :class => 'btn primary' %>
            <%= link_to 'Cancel', roles_path %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
<%
=end %>
<div class="row">
  <div class="col-md-12">
    <div class="authform">
      <h3>Role <%= @role.name %></h3>
      <%= form_for @role do |f| %>
        <% if @role.errors.any? %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2>
              <%= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:" %>
            </h2>
            <ul>
              <% @role.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
              <% end %>
            </ul>
          </div>

        <% end %>
        <fieldset>
         <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          

        </fieldset>
          <div class="clearfix"></div>
          <div class="form-group pull-right">
            <%= f.submit "Save", :class => 'btn primary' %>
            <%= link_to 'Cancel', roles_path, :class => 'btn primary' %>
          </div>
          
      <% end %>
    </div>
  </div>
</div>